* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-transform: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

@font-face { 
    font-family: "ArialRegular";
    src: url("fonts/ArialRegular/ArialRegular.eot");
    src: url("fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("fonts/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body{
    font-family: "ArialRegular";
}

.page{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}


.header__content{
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__content p{
    font-size: 32px;
}
.header__content img{
    width: 100px;
    height: 100px;
}

.flex__flex{
    display: flex;
    flex-direction: row;;
}
.flex_item1{
    width: 250px;
    height: 100vh;
    background-color:blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex_item1 a{
    width: 100%;
    display: block;
    text-decoration: none;
}
.menu__item{
    width: 100%;
    height: 35px;
    background-color: #FFA07A;
    margin: 5px 0px 5px 0px;
    border: 2px solid #3a3a3a;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9b2d30;
    font-size: 18px;
    font-style: Arial;
}

.flex_item2{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

.footer__content{
    width: 100%;
    height: 70px;
    background-color: #FFFFE0;
    display: flex;
    align-items: center;

}
.footer__content p{
    font-size: 18px;
}
.footer__content font{
    font-weight: 700;
}
.footer__content p:last-child{
    color: red;
    margin-top: 5px;
}
.footer_text{
    margin: 0 0 0 15px;
}

.flex_item2{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    width: 100%;
    height: 100vh;
    text-align: center;
}
table .pn{
    background: #fff;
}
table .numb{
    background: #808080;
}
table .eight_a{
    background: #87cefa;
}
table .eight_b{
    background: #9dd1a1;
}
table .eight_c{
    background: #f7e32a;
}
table,
td,
th{
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    font-size: 18px;
}


/*Лист страница*/
.text_school{
    font-size: 18px;
}
.text_school font{
    font-weight: 700;
}
ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 35px;
	padding: 15px 0 5px 0;
	font-size: 18px;
}
ol li {
	position: relative;	
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}
ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: 0px;
	left: -26px;
	width: 20px;    
	color: #000;
	text-align: right;
}
ol li font{
    font-weight: 700;
}

ul {
	margin: 0 0 0 35px;
	padding: 15px 0 5px 0;
	font-size: 18px;
}
ul li {
	position: relative;	
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
}

.disc{
    list-style-type: disc;
    font-size: 18px;
}
.subul{
    margin: 0 0 0 15px;
}

/*Изображение*/
.flex__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh
}

.flex__column{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
}
.flex__full{
    width: 100%;
    height: 100vh;
}

.flex__column img{
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 5px;
}
.flex__full img{
    width: 100%;
    height: 100%;
    padding: 5px
}

.for_text{
    display: flex;
    flex-direction: column;
}

.flex_item2 h1{
    font-style: italic;
    color: chocolate;
    font-size: 50px;
}
.flex_item2 h2{
    color: blue;
    font-size: 45px;
    text-decoration: underline;
}
.flex_item2 h3{
    color: orange;
    font-size: 40px;
    text-decoration: line-through;
}
.flex_item2 h4{
    color: green;
    font-size: 35px;
}
.flex_item2 h5{
    color: purple;
    font-size: 30px;
}
.flex_item2 h6{
    color: black;
    font-size: 25px;
}

.form__content{
    display: flex;
    flex-direction: column;
    background: #d7d7d7;
    border-radius: 10px;
    border-right: 3px solid #000;
    border-left: 3px solid #000;
}
.form__content p{
    font-size: 28px;
    margin: 15px 0 10px 15px;
}
.form__content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 15px 15px;
}
form input{
    margin: 5px;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    font-size: 18px;
    padding: 5px;
    border: 2px solid #000
}
form input:last-child{
    width: 200px;
}
form select{
    margin: 5px;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    font-size: 18px;
    border: 2px solid #000
}
textarea{
    width: 400px;
    height: 100px;
    font-size: 18px;
    margin: 5px;
    border: 2px solid #000
}


